<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shows with Friends | SeatGeek Hackathon Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="/static/css/application.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
      <a name="top" id="top"></a>
      <div id="overlay"></div>

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">SeatGeek</a>
              <ul class="nav pull-right">
                <li>
                  <a href="#">Settings</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    
      {% block content %}
      {% endblock %}


      <div id="footer">
        <a id="go-to-top" class="btn btn-primary btn-large" href="#top">Go back to top &uarr;</a>
        <p>Made with all the love in the world by <a href="http://twitter.com/steve_rit">@steve_rit</a> and <a href="http://twitter.com/matthewgh">@matthewgh</a> at a <a href="http://seatgeek.com">SeatGeek</a> hackathon.</p>
      </div>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script type="text/javascript" src="/static/js/bootstrap.js"></script>
      <script type="text/javascript" src="/static/js/underscore.js"></script>
      <script type="text/javascript" src="/static/js/date.js"></script>
      <script type="text/javascript" src="/static/js/jquery.livequery.min.js"></script>
      <script type="text/javascript" src="/static/js/waypoints.min.js"></script>
      <script type="text/javascript" src="/static/js/seatgeek.js"></script>
      <script type="text/javascript" src="/static/js/application.js"></script>
    </body>
</html>
  